spring:
  application:
    name: tenminread-be

  # 기본 활성 프로필
  profiles:
    active: dev

  jpa:
    show-sql: false
    open-in-view: false
    hibernate:
      ddl-auto: none        # 운영은 Flyway가 스키마 관리
    properties:
      hibernate:
        format_sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  # 부트 기본 Flyway 자동설정은 사용 안 하고(다중 DS 직접 구성)
  flyway:
    enabled: false

  main:
    allow-bean-definition-overriding: true

management:
  endpoints:
    web:
      exposure:
        include: "health,info"

logging:
  level:
    root: INFO
    com.tenminread: INFO
    org.hibernate.SQL: WARN
    org.hibernate.orm.jdbc.bind: WARN
